.BotonColapso{
  box-shadow: 0 2px 10px #000;
    box-shadow: -2px 5px 10px 2px #000;
}
.itemBarMainIdiom{
    background-color: #27464b;
    box-shadow: -2px 5px 10px 2px #000;
    color: #fff;
}
.itemBarMain{
    background-color: white;
    box-shadow: -2px 5px 10px 2px #000;
    color: black;
}
.itemBarMainChildren{
    background-color: white;
    box-shadow: -2px 5px 10px 2px #000;
    color: black;
}
.itemBarMainChildrenHOVER{
    transition: background-color 0.3s ease;
}
.itemBarMainChildrenHOVER:hover{
    background-color: white;
    box-shadow: -2px 5px 10px 2px #000;
}
.CollapseOFF{
    display: flex;
    justify-content: center;
}
